{% extends 'common/base.html' %}
{% load staticfiles %}
{% block title %}Reset Password{% endblock %}
{% block extrahead %}
    <link href="{% static 'account/css/style.css'%}" rel="stylesheet">
{% endblock %}
{% block content %}
{{ errors }}
<form action="{% url 'reset-password' id=uid otp=otp %}"  method='POST'>
    {% csrf_token %}
    {{ f.as_p }}
     <button type="submit" id="update-btn" name="update" class="btn waves-effect waves-light left">Update Password</button>
</form>
{% endblock %}
